<ion-menu contentId="main-content">
  <div class="container">
    
   <img src="assets/menu-img.jpeg" alt="logo img" class="menu-img">
    <ion-button class="menuBtn" (click)="goToHomePage()">
      <span class="ion-text-left">POČETNA STRANICA</span>
    </ion-button> 

    <ng-container *ngIf="dataLoad">
      <ion-button *ngFor="let item of contents" class="menuBtn" (click)="selectCategory(item.content_id)">
        <span class="ion-text-left">{{ item.content_name }}</span>
      </ion-button> 
    </ng-container>
    

    <ion-button class="menuBtn" (click)="openSettings()">
      <span class="ion-text-left">PODEŠAVANJE APLIKACIJE</span>
    </ion-button> 

    <ion-menu-toggle>
      <ion-button class="exitBtn">
        <span class="ion-text-left">IZLAZ IZ MENIJA</span>
      </ion-button> 
    </ion-menu-toggle>

  </div>
</ion-menu>
