.hero-container {
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  h1 {
    margin-left: 1rem;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
  }

  .text-link {
    background-color: #ebebeb;
    width: 100%;
    text-align: left;
    text-indent: 1rem;
  }
  
  h2 {
    font-size: 0.85rem;
  }

  .texts ion-item{
    padding-bottom: 15px;

    ion-thumbnail{
      height: 80px;
      width: 120px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .texts ion-item.first::part(native){
    padding-left: 0px;
  }

  app-footer{
    height: 80px !important;
  }



