<app-header></app-header>
<ion-content [fullscreen]="true" id="main-content">


  <div class="container" *ngIf="dataLoad">

    <div>
    <h1>{{ category.content_name }}</h1>
    </div>

    <div
    class="hero-container" 
    *ngFor="let content of contents | slice:0:1" 
    [ngStyle]="{'background-image': 'url(' + content.content_image_obj?.full_url + ')'}">
 </div>

 <div class="links" *ngFor="let content of contents">

      <span class="text-link"> 
        <h2>{{ content.content_name }}</h2>
      </span>
 
 </div>
 
 
  </div>

</ion-content>
<app-footer></app-footer>
<app-menu></app-menu>
