<ion-menu contentId="main-content">
  <div class="container">
    
   <img src="assets/menu-img.jpeg" alt="logo img" class="menu-img">
    <ion-button class="menuBtn" (click)="goToHomePage()">
      <span class="ion-text-left">POČETNA STRANICA</span>
    </ion-button> 
    <ion-button class="menuBtn" (click)="selectCategory('ŽIVA RIJEČ - EVANĐELJE DANA')">
      <span class="ion-text-left">ŽIVA RIJEČ - EVANĐELJE DANA</span>
    </ion-button> 

    <ion-button class="menuBtn" (click)="selectCategory('S GAŠPAROM KROZ DAN')">
      <span class="ion-text-left">S GAŠPAROM KROZ DAN</span>
    </ion-button> 

    <ion-button class="menuBtn" (click)="selectCategory('MARIJA DE MATTIAS GOVORI')">
      <span class="ion-text-left">MARIJA DE MATTIAS GOVORI</span>
    </ion-button> 

    <ion-button class="menuBtn" (click)="selectCategory('MOLITVENIK DRAGOCJENE KRVI')">
      <span class="ion-text-left">MOLITVENIK DRAGOCJENE KRVI</span>
    </ion-button> 

    <ion-button class="menuBtn" (click)="selectCategory('NAŠI SVECI')">
      <span class="ion-text-left">NAŠI SVECI</span>
    </ion-button> 

    <ion-button class="menuBtn" (click)="selectCategory('NAŠE SVETKOVINE')">
      <span class="ion-text-left">NAŠE SVETKOVINE</span>
    </ion-button> 

    <ion-button class="menuBtn" (click)="selectCategory('LITURGIJA ČASOVA')">
      <span class="ion-text-left">LITURGIJA ČASOVA</span>
    </ion-button> 

    <ion-button class="menuBtn" (click)="openSettings()">
      <span class="ion-text-left">PODEŠAVANJE APLIKACIJE</span>
    </ion-button> 

    <ion-menu-toggle>
      <ion-button class="exitBtn">
        <span class="ion-text-left">IZLAZ IZ MENIJA</span>
      </ion-button> 
    </ion-menu-toggle>

  </div>
</ion-menu>
