ion-menu {
    --width: 100%;
  }
  
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
    }
    
    .menu-img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 2rem;
    }
    
    ion-button {
      width: 80%;
      height: 50px;
      color: #000000;
      --background: #E6E6E6;
      --box-shadow: none;
      --border-radius: 8px;
    }
    
    ion-menu-toggle .exitBtn {
      width: 80%;
      height: 50px;
      --background: #ab052b;
      color: #fee7f4;
      font-weight: normal;
      position: absolute;
      right: 10%;
    }
    
    span.ion-text-left {
      margin-right: auto;
    }
    