<ion-content id="main-content">

  <div class="main-container top_space" *ngIf="dataLoad">
    <div 
       class="hero-container" 
       [ngStyle]="{'background-image': 'url(' + category.content_image_obj?.full_url + ')'}">
    </div>
    
    <div class="pictures">

      <ion-list class="ion-no-padding">
        <ion-item *ngFor="let content of contents; let i = index" class="pictures">
          <ion-card (click)="openCategory(content.content_id)">
            <ng-container *ngIf="content.content_has_image">
              <img [alt]="content.content_image_obj?.display_name" [src]="content.content_image_obj?.full_url_thumbnail2x" />
            </ng-container>
            <p>{{ content.content_name }}</p>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
    <div class="my_space">

    </div>
  </div>
</ion-content>
<app-footer></app-footer>
