/*#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}*/


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-container {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.liturgije,
.svetkovine
 {
  width: 48%;

}

app-footer{
  height: 80px !important;
}

ion-card {
  height: 9vh;
  width: 43vw;
  margin: 1rem;
}

p {
  text-align: center;
}
