.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-container {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pictures {
  width: 100%;
}

ion-card {
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eeeeee;
  box-shadow: none;
}

ion-item {
  --inner-border-width: 0;
}


img {
  width: 30%;
  height: 21vmin; 
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  color: black;
}

@media only screen and (max-width: 360px) {
  p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 384px) {
  p {
    font-size: 0.9rem;
  }
}

app-footer{
  height: 80px !important;
}
