.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-container {
  height: 80vh;
  width: 110vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pictures {
  width: 100%;
}

ion-card {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eeeeee;
  box-shadow: none;
}

ion-item {
  --inner-border-width: 0;
}


img {
  width: 20%;
  height: 18vmin; 
}

p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
  color: black;
}

@media only screen and (max-width: 395px) {
  img {
    width: 25%;
    height: 19vmin; 
  }

  p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 376px) {
  p {
    font-size: 0.7rem;
  }

}

app-footer{
  height: 80px !important;
}

#main_content{
  margin-top: 30px;
  --offset-top: 30px;
}
