<app-header></app-header>
<ion-content [fullscreen]="true" id="main-content">
  <div class="container" *ngIf = 'dataLoad'>
    <h1>{{ content.content_name }}</h1>
    <div
    class="hero-container" 
    [ngStyle]="{'background-image': 'url(' + content.content_image_obj?.full_url + ')'}">
    </div>

    <div class="attachment-container ion-padding">
      <ng-container *ngIf="content.content_attachment_key_obj != null">
        <ion-list class="ion-no-padding" *ngFor="let attachment of content.content_attachment_key_obj">
          <ion-item (click)="openAttachment(attachment)" color="text-item" lines="none">
            <ion-label>{{ attachment.multimedia_file_old }}</ion-label>
          </ion-item>
        </ion-list>
      </ng-container>
    </div>

    <div class="text-container"  *ngIf = 'dataLoad'>
      <ng-container *ngIf="content.segments.length > 0">
        <ng-container *ngFor="let segment of content.segments">
          <h2 *ngIf="segment.segment_title != ''">{{ segment.segment_title }}</h2>
          <p>{{ segment.segment_description }}</p>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
