<app-header></app-header>
<ion-content [fullscreen]="true">

  <div class="container" id="main-content" *ngIf = 'dataLoad'>
    <h1>{{ content.content_name }}</h1>

    <div
    class="hero-container" 
    [ngStyle]="{'background-image': 'url(' + content.content_image_obj?.full_url + ')'}">
 </div>

 <div class="text-container"  *ngIf = 'dataLoad'>
      <ng-container *ngIf="content.content_attachment_key_obj != null">
        <ng-container *ngFor="let attachment of content.content_attachment_key_obj">
          <span><p>{{ attachment.multimedia_file_old }}</p></span>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="content.segments.length > 0">
        <ng-container *ngFor="let segment of content.segments">
          <h2 *ngIf="segment.segment_title != ''">{{ segment.segment_title }}</h2>
          <p>{{ segment.segment_description }}</p>
        </ng-container>

      </ng-container>
 </div>
 
 
  </div>

</ion-content>
<app-footer></app-footer>
<app-menu></app-menu>